.eggs/pytest_runner-6.0.0-py3.8.egg/
.vscode/
__pycache__/
gwp/
k-gnn/
k_gnn.egg-info/
processed/
raw/
result/
wandb/
.ipynb_checkpoints
runs
*.pt
*.pth
venv_Graph1/
venv/
*.png
*.npy
*.pkl
*.sbatch
Model_*/
pkg_download_dir/
Checkpoints*
Cluster_env*
wandb*
*.sh
*.txt
*.sif